body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 50px;
    padding-bottom: 0;
}

p {
    margin-left: 50px;
}

#container {
    background-color: orange;
}

canvas {
    background-color: grey;
}
